body {
    background: #ffcc00;
    justify-content: center;
    width: 400px;
}

.quote {
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    max-width: 70%;
    position: relative;
    margin-top: 40px;
}

blockquote {
    color: white;
    text-shadow: -1px 1px #6f6f6f;
    font-style: italic;
    position: relative;
    z-index: 20;
}

.left {
    position: absolute;
    top: -50px;
    left: -20px;
    width: 75px;
    text-align: left;
    z-index: 10;
    font-size: 4rem;
    color: #336699;
    background-color: #ffcc00;
    line-height: 200px;
}

.right {
    position: absolute;
    bottom: -50px;
    right: -20px;
    width: 75;
    text-align: right;
    z-index: 10;
    font-size: 4rem;
    color: #336699;
    background-color: #ffcc00;
    line-height: 200px;
}

small {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    position: relative;
    z-index: 20;
}